.country {
  background-color: rgb(102, 94, 94);
  border: 1px solid gold;
  border-radius: 10px;
  margin: 20px;
  color: white;
  box-shadow: 5px 5px 10px gray;
}

.country img {
  margin: 20px;
  height: 200px;
  width: 300px;
}

.country-name {
  font-size: 40px;
  font-weight: 500;
}
