.country {
  background-color: rgb(102, 94, 94);
  border: 1px solid gold;
  margin: 10px;
  color: white;
}

.country img {
  margin: 20px;
  height: 250px;
  width: 400px;
}

.country-name {
  font-size: 40px;
  font-weight: 500;
}
